     html{
     font-size: 22px
    }
    body{
        background-color :#333;;
        color: whitesmoke;
    }
    
    a:link{
        color:blueviolet;
    }
    a:visited{
        color:red;
    }
    a:hover{
        color: green;
    }
    a:active{
        color: bisque;
    }